@model Dominio.Entidad.TecnicoModel

@{
    ViewBag.Title = "detalleTecnico";
}

<h2>DETALLE DEL TECNICO</h2>

<div>
    <h4>Tecnico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            COD DEL TECNICO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_tecnico)
        </dd>

        <dt>
            NOMBRE DEL TECNICO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_tecnico)
        </dd>

        <dt>
            AAPELLIDO DEL TECNICO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ape_tecnico)
        </dd>

        <dt>
            ESTADO DEL TECNICO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_tecnico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "editarTecnico", new { cod_tecnico = Model.cod_tecnico}, new { @class="btn btn-warning"}) |
    @Html.ActionLink("RETORNAR A LA LISTA", "listarTecnico", null, new { @class="btn btn-primary"})
</p>
