@model Dominio.Entidad.TecnicoModel

@{
    ViewBag.Title = "editarTecnico";
}

<h2>ACTUALIZAR TECNICO</h2>

<div class="row">

    <h4>Ingrese los datos a modificar</h4>
    <hr />

    <div class="col">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal row gap-2">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-xl-4">
                    @Html.LabelFor(model => model.cod_tecnico, "COD. TECNICO", htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.cod_tecnico, new { htmlAttributes = new { @class = "form-control bg-secondary bg-opacity-25", placeholder = ViewBag.CODIGO_TECNICO, @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.cod_tecnico, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.nom_tecnico, "NOMBRE DEL TECNICO", htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nom_tecnico, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nom_tecnico, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ape_tecnico, "APELLIDO DEL TECNICO", htmlAttributes: new { @class = "control-label" })
                    <div  class="col-md-10">
                        @Html.EditorFor(model => model.ape_tecnico, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ape_tecnico, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group ">
                    <div class="d-flex gap-2">
                        <input type="submit" value="ACTUALIZAR TECNICO" class="btn btn-success" />
                        @Html.ActionLink("IR A LA LISTA", "listarTecnico", null, new { @class = "btn btn-warning" })

                    </div>
                </div>

                @if (ViewBag.MENSAJE != null)
                {
                    <div class="alert alert-warning">
                        @Html.ViewBag.MENSAJE
                    </div>

                }
            </div>
        }

    </div>

    <div class="col">
        <div class="text-center">
            <img src="~/Content/TecnicoImg/tecnico.png" />
        </div>
    </div>

</div>








<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
