@model Dominio.Entidad.DetEquipoModel

@{
    ViewBag.Title = "detalleDetEquipo";
}

<h2>DETALLE DEL EQUIPO</h2>

<div>
    <h4>EQUIPO BIOMEDICO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            COD PATRIMONIAL
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_patrimonial)
        </dd>

        <dt>
            EQUIPO
        </dt>

        <dd>
            @{ var cod_equipo = new Estructura.SQL.DropdownDAO().listEquipo().Find(c => c.id_dropdown.Equals(Model.cod_equipo.ToString())).des_dropdown; }
            @cod_equipo
        </dd>

        <dt>
            PROVEEDOR
        </dt>

        <dd>
            @{ var cod_proveedor = new Estructura.SQL.DropdownDAO().listProveedor().Find(c => c.id_dropdown.Equals(Model.cod_proveedor.ToString())).des_dropdown; }
            @cod_proveedor
        </dd>

        <dt>
            FECHA DE INGRESO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_ingreso)
        </dd>

        <dt>
            ESTADO DEL EQUIPO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_equipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("EDITAR", "editarDetEquipo", new { cod_patrimonial = Model.cod_patrimonial }, new { @class="btn btn-success"}) |
    @Html.ActionLink("REGRESAR A LA LISTA", "listarDetEquipo", null, new { @class="btn btn-primary"})
</p>
