@model IEnumerable<Dominio.Entidad.DetEquipoModel>

@{
    ViewBag.Title = "listarDetEquipo";
}

<h2>LISTA DE EQUIPO REGISTRADOS</h2>

<p>
    @Html.ActionLink("REGISTRAR NUEVO EQUIPO", "registrarDetEquipo", null,new {@class ="btn btn-success" })
</p>
<table class="table table-bordered ">
    <tr class="text-center table-dark">
        <th>
            COD PATRIMONIAL
        </th>
        <th>
            COD DEL EQUIPO
        </th>
        <th>
            COD PROVEEDOR
        </th>
        <th>
            FECHA DE INGRESO
        </th>
        <th>
            ESTADO DEL EQUIPO
        </th>
        <th class="">
            ACCIONES
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cod_patrimonial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_equipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_proveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_equipo)
        </td>
        <td>
            @Html.ActionLink("Editar", "editarDetEquipo", new { cod_patrimonial = item.cod_patrimonial }, new { @class="btn btn-success"}) |
            @Html.ActionLink("Detalle", "detalleDetEquipo", new { cod_patrimonial=item.cod_patrimonial  }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
