@model IEnumerable<Dominio.Entidad.DetEquipoModel>

@{
    ViewBag.Title = "listarDetEquipo";
}

<h2>LISTA DE EQUIPO REGISTRADOS</h2>

<p>
    @Html.ActionLink("REGISTRAR NUEVO EQUIPO", "registrarDetEquipo", null,new {@class ="btn btn-success" })
</p>
<table class="table table-bordered ">
    <tr class="text-center table-dark" style="text-align:center">
        <th>
            COD PATRIMONIAL
        </th>
        <th>
            EQUIPO
        </th>
        <th>
            PROVEEDOR
        </th>
        <th>
            FECHA DE INGRESO
        </th>
        <th>
            ESTADO DEL EQUIPO
        </th>
        <th>
            ACCIONES
        </th>
        <th>
            ESTADO
        </th>
    </tr>

@foreach (var item in Model) {
    <tr style="text-align:center">
        <td>
            @Html.DisplayFor(modelItem => item.cod_patrimonial)
        </td>
        <td>
            @{ var cod_equipo = new Estructura.SQL.DropdownDAO().listEquipo().Find(c => c.id_dropdown.Equals(item.cod_equipo.ToString())).des_dropdown; }
            @cod_equipo
        </td>
        <td>
            @{ var cod_proveedor = new Estructura.SQL.DropdownDAO().listProveedor().Find(c => c.id_dropdown.Equals(item.cod_proveedor.ToString())).des_dropdown; }
            @cod_proveedor
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_equipo)
        </td>
        <td>
            @Html.ActionLink("EDITAR", "editarDetEquipo", new { cod_patrimonial = item.cod_patrimonial }, new { @class="btn btn-success"}) |
            @Html.ActionLink("DETALLES", "detalleDetEquipo", new { cod_patrimonial=item.cod_patrimonial  }, new { @class = "btn btn-warning" }) 
            
        </td>
        <td>
            @{
                if (item.estado_equipo.Equals("ACTIVO"))
                {
                    @Html.ActionLink(item.estado_equipo, "gestionEstadoEquipo", new { cod_patrimonial = item.cod_patrimonial, estado_equipo = item.estado_equipo }, new { @class = "btn btn-primary" })
                }
                else
                {
                    @Html.ActionLink(item.estado_equipo, "gestionEstadoEquipo", new { cod_patrimonial = item.cod_patrimonial, estado_equipo = item.estado_equipo }, new { @class = "btn btn-danger" })
                }

            }

        </td>
    </tr>
}

</table>
