@model Dominio.Entidad.UsuarioModel

@{
    ViewBag.Title = "detalleUsuario";
}

<h2>DETALLE DE USUARIO</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            COD USUARIO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_usuario)
        </dd>

        <dt>
            NOMBRE DEL USUARIO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_usuario)
        </dd>

        <dt>
            APELLIDO DEL USUARIO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ape_usuario)
        </dd>

        <dt>
            PASSWORD DEL USUARIO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pass_usuario)
        </dd>

        <dt>
            TIPO DE USUARIO
        </dt>

        <dd>
            @{ 
                var tipoUsuario = new Estructura.SQL.DropdownDAO().listTipoUsuario().Find(c => c.id_dropdown.Equals(Model.tipo_usuario.ToString())).des_dropdown;
            }
            @tipoUsuario
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("EDITAR USUARIO", "editarUsuario", new { cod_usuario = Model.cod_usuario }, new { @class="btn btn-warning"}) |
    @Html.ActionLink("RETORNAR A LISTA", "ListarUsuario", null,new { @class="btn btn-primary"})
</p>
