@model IEnumerable<Dominio.Entidad.UsuarioModel>

@{
    ViewBag.Title = "ListarUsuario";
}

<h2>LISTADO DE USUARIOS</h2>

<p class="text-danger">
    @ViewBag.MENSAJE
</p>
<p>
    @Html.ActionLink("NUEVO USUARIO", "registrarUsuario", null, new {@class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            CODIGO
        </th>
        <th>
            NOMBRE
        </th>
        <th>
            APELLIDO
        </th>
        <th>
            CONTRASEÑA
        </th>
        <th>
            TIPO DE USUARIO
        </th>
        <th>
            ACCIONES
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cod_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nom_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ape_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pass_usuario)
        </td>
        <td>
            @{ var tipo_usuario = new Dominio.Negocio.DropdownBL().listTipoUsuario().Find(c => c.id_dropdown.Equals(item.tipo_usuario.ToString())).des_dropdown; }
            @tipo_usuario
        </td>
        <td>
            @Html.ActionLink("Editar", "editarUsuario", new { cod_usuario=item.cod_usuario }, new { @class="btn btn-success"}) |
            @Html.ActionLink("Detalle", "detalleUsuario", new { cod_usuario = item.cod_usuario }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Eliminar", "eliminarUsuario", new { cod_usuario = item.cod_usuario }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
