@model IEnumerable<Dominio.Entidad.MantenimientoModel>

@{
    ViewBag.Title = "listarMantenimientos";
}
<hr/>
<h2>LISTA DE MANTENIMIENTOS</h2>
<hr />
<p>
    @Html.ActionLink("Registrar nuevo Mantenimiento", "registrarMantenimiento", null, new { @class = "btn btn-success" })
</p>
<table class="table table-bordered">
    <tr class="table-dark text-center">
        <th>
            ID
        </th>
        <th>
            Cod Patrimonial
        </th>
        <th>
            Cod Técnico
        </th>
        <th>
            Tipo
        </th>
        <th>
            Obs Mantenimiento
        </th>
        <th>
            Estado Equipo
        </th>
        <th>
            Fecha Mantenimiento
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_mante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_patrimonial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_tecnico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_tipoMante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.obs_tipoMante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_equipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_mante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_mante)
        </td>
        <td>
            @Html.ActionLink("Editar", "editarMantenimiento", new { id_mante=item.id_mante }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Detalles", "detalleMantenimiento", new { id_mante = item.id_mante }, new { @class = "btn btn-warning" }) |
        </td>
    </tr>
}

</table>
