@model IEnumerable<Dominio.Entidad.SolicitudRepuestoModel>

@{
    ViewBag.Title = "listarSolicitudRepuesto";
}

<h2>LISTA DE SOLICITUDES DE REPUESTO</h2>

<div class="my-4">
    <form action="listarSolicitudRepuesto" method="POST">
        <div class="row">
            <div class="col-md-4">
                @Html.DropDownList("estado_solRep", new SelectList(new String[] { "TODOS", "REGISTRADO", "ANULADO", "ATENDIDO" }), new { @class = "form-control" })
            </div>
            <div class="col">
                <button class="btn btn-primary">LISTAR</button>
                @Html.ActionLink("REGISTRAR NUEVA SOLICITUD", "registrarSolicitudRepuesto", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </form>
</div>

<table class="table table-bordered">
    <p class="text-danger">
        @ViewBag.MENSAJE
    </p>

    <tr class="table-dark text-center">
        <th>
            ID SOLICITUD
        </th>
        <th>
            COD PATRIMONIAL
        </th>
        <th>
            EQUIPO
        </th>
        <th>
            MOTIVO DE SOLICITUD
        </th>
        <th>
            FECHA DE SOLICITUD
        </th>
        <th>
            ESTADO DE SOLICITUD
        </th>
        <th>
            ACCIONES
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_solRep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_patrimonial)
        </td>
        <td>
            @{ var detEquipo = new Dominio.Negocio.DetEquipoBL().listarDetEquipo().Find(c => c.cod_patrimonial.Equals(item.cod_patrimonial.ToString())); }
            @{ var tipoEquipo = new Dominio.Negocio.DropdownBL().listEquipo().Find(c => c.id_dropdown.Equals(detEquipo.cod_equipo.ToString())).des_dropdown;}
            @tipoEquipo
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motivo_solRep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_solRep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_solRep)
        </td>
        <td>
            @Html.ActionLink("Editar", "editarSolicitudRepuesto", new { id_solRep = item.id_solRep},new { @class="btn btn-success"}) |
            @Html.ActionLink("Eliminar", "eliminarSolicitudRepuesto", new { id_solRep = item.id_solRep, estado_solRep = item.estado_solRep }, new { @class="btn btn-danger"})
        </td>
    </tr>
}

</table>
