@model IEnumerable<Dominio.Entidad.SolicitudRepuestoModel>

@{
    ViewBag.Title = "listarSolicitudRepuesto";
}

<h2>listarSolicitudRepuesto</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_solRep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cod_patrimonial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motivo_solRep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_solRep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_solRep)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_solRep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_patrimonial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motivo_solRep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_solRep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_solRep)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
