@model Dominio.Entidad.SolicitudRepuestoModel

@{
    ViewBag.Title = "registrarSolicitudRepuesto";
}

<h2>REGISTRAR SOLICITUD DE REPUESTO</h2>

<div class="">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal row g-2 ">
        <h4>SOLICITUD DE REPUESTO</h4>
        <hr />

        <div>@ViewBag.MENSAJE</div>

        @Html.ValidationSummary(true, (String)@ViewBag.MENSAJE, new { @class = "text-danger" })

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.id_solRep, "ID SOLICITUD", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id_solRep, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id_solRep, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.cod_patrimonial, "COD. PATRIMONIAL", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.DropDownList("cod_patrimonial", (SelectList)ViewBag.LISTAR_DET_EQUIPO, "SELECCION EQUIPO", new { @class = "form-control bg-secondary bg-opacity-25" })
                @Html.ValidationMessageFor(model => model.cod_patrimonial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.fecha_solRep, "FECHA DE SOLICITUD", htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_solRep, new { htmlAttributes = new { @class = "form-control" ,@readonly="readonly"} })
                @Html.ValidationMessageFor(model => model.fecha_solRep, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.motivo_solRep, "MOTIVO DE LOS REPUESTOS", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.motivo_solRep, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.motivo_solRep, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group d-flex gap-2 align-items-center my-4">
            <div class="col-md-offset-2 ">
                <input type="submit" value="REGISTRAR SOLICITUD" class="btn btn-success" />
                @Html.ActionLink("NUEVA SOLICITUD", "registrarSolicitudRepuesto", null, new { @class = "btn btn-success" })
                @Html.ActionLink("IR A LA LISTA", "listarSolicitudRepuesto", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
    }

    <!--ARTEFACTO-->

    <div class="row" >

        <form action="registrarDetSolicitudRepuesto" method="post">

            <h4>ARTEFACTO</h4>

            <hr />

            <div class="row gap-2 form-horizontal">

                <div class="text-danger">
                    @ViewBag.MENSAJE_DETALLE
                </div>

                <div class="row ">
                    <div class="col-md-2">
                        <label>ID SOL REP</label>
                        <input type="text" class="form-control bg-secondary bg-opacity-25" readonly="readonly" name="id_solRep" value="@ViewBag.ID_SOLREP" />
                    </div>

                    <div class="col-md-2">
                        <label>ID ITEM</label>
                        <input type="text" class="form-control bg-secondary bg-opacity-25" readonly="readonly" name="item_det_solRep" value="@ViewBag.ITEM_DET_SOLREP" />
                    </div>

                </div>


                <div class="col-md-6">
                    <label>ARTEFACTO</label>
                    <input type="text" class="form-control" name="artefacto_det_solRep" />
                </div>

                <div class="col-md-2">
                    <label>CANTIDAD</label>
                    <input type="text" class="form-control" name="cant_det_solRep" />

                </div>

                <div class="col-md-2">
                    <label>UM</label>
                    @Html.DropDownList("cod_uniMed",(SelectList)ViewBag.LISTA_UMD,"SELECCIONE",new { @class="form-control bg-secondary bg-opacity-25"})

                </div>

                <div>
                    <button type="submit" class="btn btn-primary" onclick="bloquear">AGREGAR ARTICULO</button>
                </div>

            </div>
        </form>
    </div>

</div>

<!--TABLA DE ARTEFACTOS-->
<div class="">

    <hr />

    <table class="table table-bordered">
        <thead class="table-dark text-center">
            <tr>
                <th class="col-xxl-1">ID ITEM</th>
                <th>ARTEFACTO</th>
                <th>CANTIDAD</th>
                <th class="col-xxl-1">UM</th>
                <th class="col-xxl-1">ACCIONES</th>
            </tr>
        </thead>
        @{
            if (ViewBag.LISTA_DETALLE == null)
            {
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            }
            else
            {

                foreach (var obj in ViewBag.LISTA_DETALLE)
                {
                    <tbody>
                        <tr>
                            <td> @obj.item_det_solRep </td>
                            <td> @obj.artefacto_det_solRep </td>
                            <td> @obj.cant_det_solRep </td>
                            <td>
                                @{var des_uniMed = new Dominio.Negocio.DropdownBL().listUnidadMedida().Find(c => int.Parse(c.id_dropdown) == (obj.cod_uniMed)).des_dropdown; }
                                @des_uniMed
                            </td>
                            <td>
                                @Html.ActionLink("EDITAR", "editarDetSolicitudRepuesto", new {id_solRep = obj.id_solRep, item_det_solRep = obj.item_det_solRep }, new { @class = "btn btn-warning" })
                            </td>
                        </tr>
                    </tbody>
                }
            }

        }
    </table>
</div>







<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
