@model Dominio.Entidad.FichaReposicionModel

@{
    ViewBag.Title = "detalleFicha";
}
<hr />
<h2 style="text-align:center">DETALLE DE FICHA DE REPOSICION</h2>

<div>
    <hr />
    <br />
    <h4>Ficha</h4>
    <dl class="dl-horizontal">
       
        <dt>
            ID FICHA REPOSICION:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_fichaRepo)
        </dd>

        <dt>
            CODIGO PATRIMONIAL:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_patrimonial)
        </dd>

        <dt>
            MOTIVO:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motivo_fichaRepo)
        </dd>

        <dt>
            FECHA DE REGISTRO:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_fichaRepo)
        </dd>

        <dt>
            ESTADO DE REPOSICION:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_fichaRepo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("EDITAR", "editarFichaRepo", new { id_fichaRepo = Model.id_fichaRepo }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("RETORNAR A LISTA", "listarFichaReposicion", null, new { @class = "btn btn-primary" })
</p>
