@model IEnumerable<Dominio.Entidad.FichaReposicionModel>

@{
    ViewBag.Title = "listarFichaReposicion";
}
<hr />
<h2>LISTA DE FICHAS DE REPOSICION</h2>

<p class="text-center">
    <hr/>
    @ViewBag.MENSAJE
</p>
<p>
    @Html.ActionLink("NUEVA FICHA", "registrarFichaReposicion", null, new {@class = "btn btn-primary" })
</p>
<table class="table" align="center">
    <tr>
        <th>
            ID FICHA DE REPOSICION
        </th>
        <th>
            CODIGO PATRIMONIAL
        </th>
        <th>
            MOTIVO
        </th>
        <th>
            FECHA DE REGISTRO
        </th>
        <th>
            ESTADO
        </th>
        <th>
            ACCIONES
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_fichaRepo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_patrimonial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motivo_fichaRepo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_fichaRepo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_fichaRepo)
        </td>
        <td>
            @Html.ActionLink("Editar", "editarFichaRepo", new { id_fichaRepo=item.id_fichaRepo}, new { @class="btn btn-success"}) |
            @Html.ActionLink("Detalle", "detalleFicha", new { id_fichaRepo=item.id_fichaRepo}, new { @class = "btn btn-warning"}) |
            @Html.ActionLink("Eliminar", "eliminarFicha", new { id_fichaRepo=item.id_fichaRepo}, new { @class= "btn btn-danger"})
        </td>
    </tr>
}

</table>
